<%= form_with(model: @bracket, url: create_bracket_brackets_path, method: :post) do |form| %>
    <div class="field">
      <%= form.label :player, "Player Name" %>
      <%= form.text_field :player %>
    </div>
   
    <!-- Add more bracket fields as needed -->
  
    <div class="actions">
      <%= form.submit "Create Player" %>
    </div>
  <% end %>
  